html {
    height: 100%;
    min-height: 100%;
    font: 13px/27px Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-button {
    display: flex;
    align-items: center;
    height: 16px;
    width: 16px;      
}

/* .menu-bg {
    background-color: red;
    width: 16px;
    height: 16px;
} */

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.lang-options {
    color: #1a0dab;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    padding: 0 3px;
}


/* header section */
#navbar {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px 50px;
    grid-template-rows: 48px;
    grid-template-areas: ". gmail images menu-box sign-in";
    padding: 6px;
    align-items: center;
    height: 60px;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu-box {
    display: flex;
    grid-area: menu-box;
    justify-self: center;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;

}

#menu-box:hover {
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
    border-radius: 50%;
}

#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}


/* main section */
#main {
    display: grid;
    grid-template-columns: 1fr 586px 1fr;
    grid-template-rows: 108px 70px 88px 199px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". offerings .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    display: flex;
    /* grid-area: search;
    align-self: end;
    justify-self: center; */
    flex: 100%;
    padding: 5px 8px 0px 14px;
    flex-wrap: wrap;
}

.search-icon-wrapper {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;    
}

.search-icon {
    width: 16px;
    height: 16px;
    margin: auto;
}

.input-bar {
    /* border: hidden;
    outline: none; */
    display:flex; 
    height: 34px;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
}

.search-wrapper {
    display: flex;
    grid-area: search;
    align-self: end;
    justify-self: center;
    width: 584px;
    height: 44px;
    border-color: rgb(223 225 229 / 0%);
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    /* z-index: -1; */
    background: #ffffff;
    box-shadow: none;
    margin: 0 auto;
    flex: 1;
    flex-wrap: wrap;
}

input {
    width: 100%;
    border: hidden;
    outline: none;
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    display: flex;
    flex: 100%;  
}

#flexbox {
    display: flex;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

.search-button {
    padding-top: 18px;    
}

button {
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0px 16px;
    margin: 11px 4px;
    /* font-size: 14px; */
    font: 14px/27px Arial, sans-serif;
    /* line-height: 27px; */
    height: 36px;
    min-width: 54px; 
    cursor: pointer;
    text-align: center;
}

button:hover {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, .2)
}

#offerings {
    grid-area: offerings;
    justify-self: center;  
    color: #3c4043;
    display: inline-block;  
    line-height: 27px;
    text-align: center;
}


/* footter section */
#main-footer {
    background: #f2f2f2;
}

#country {
    font-size: 15px;
    padding: 15px 30px;
    color: #70757a;
    align-self: center;
    flex-wrap: wrap;
    display: block;
    border-bottom: 1px solid #dadce0;
}

#footer-2 {
    display: grid;
    height: 47px;
    align-self: center;
    order: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;    
}

#footer-3 {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46px;
        /* display: inline-block; */
    flex-wrap: wrap;
    align-items: center;
   /*  height: 46px; */
}

#f-left {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 46px; */
    flex-wrap: wrap;
    order: 0;
    min-width: 40%;
    flex-grow: 2;
    justify-content: center;
    float: left;
    height: 46px;
}

#f-right {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 46px; */
    flex-wrap: wrap;
    order: 1;
    min-width: 30%;
    flex-grow: 2;
    justify-content: center;
    float: left;
    height: 46px;
    align-items: center;
}

#lowest-footer-text {
    color: #70757a;
    font-size: 14px;
    /* display: block; */
    padding: 15px;
    /* white-space: nowrap; */
    /* text-decoration: none; */
}

.footer-text {
    color: #70757a;
    font-size: 14px;    
}

.carbon-image {
    height: 14px;
    margin-right: 6px;
    align-items: center;
}


