html {
    height: 100%;
    min-height: 100%;
    font: 13px/27px Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
}

a:hover {
    text-decoration: underline;
}

.menu-button {
    display: flex;
    align-items: center;
    height: 16px;
    width: 16px;      
}

/* .menu-bg {
    background-color: red;
    width: 16px;
    height: 16px;
} */

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.lang-options {
    color: #1a0dab;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}


/* header section */
#navbar {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px 50px;
    grid-template-rows: 48px;
    grid-template-areas: ". gmail images menu-box sign-in";
    padding: 6px;
    align-items: center;
    height: 60px;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu-box {
    display: flex;
    grid-area: menu-box;
    justify-self: center;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;

}

#menu-box:hover {
    background-color: rgba(100, 100, 100, 0.1);
    cursor: pointer;
    border-radius: 50%;
}

#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}


/* main section */
#main {
    display: grid;
    grid-template-columns: 1fr 586px 1fr;
    grid-template-rows: 108px 70px 70px 199px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". offerings .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    align-self: end;
}
#flexbox {
    display: flex;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
/* #search-button {
    grid-area: search-button;
    justify-self: center;
    align-self: center;
} */
#offerings {
    grid-area: offerings;
    justify-self: center;    
}


/* footter section */
#main-footer {
    background: #f2f2f2;
}

#country {
    font-size: 15px;
    padding: 15px 30px;
    color: #70757a;
    align-self: center;
    flex-wrap: wrap;
    display: block;
    border-bottom: 1px solid #dadce0;
}

#footer-2 {
    display: grid;
    height: 47px;
    align-self: center;
    order: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;    
}

#footer-3 {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46px;
        /* display: inline-block; */
    flex-wrap: wrap;
    align-items: center;
}

#f-left {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 46px; */
    flex-wrap: wrap;
    order: 1;
    min-width: 40%;
    flex-grow: 2;
    justify-content: flex-start;
    float: left;
    height: 46px;
}

#f-right {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 46px; */
    flex-wrap: wrap;
    order: 3;
    min-width: 30%;
    flex-grow: 2;
    justify-content: flex-end;
    float: left;
    height: 46px;
}

#lowest-footer-text {
    color: #70757a;
    font-size: 14px;
    /* display: block; */
    padding: 15px;
    /* white-space: nowrap; */
    /* text-decoration: none; */
}

.footer-text {
    color: #70757a;
    font-size: 14px;    
}

.carbon-image {
    height: 14px;
    margin-right: 6px;
    align-items: center;
}


